{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
<!--<link rel="preload" href="/img/card2-mobile.png" media="(max-width: 767px)">-->
<!--<link rel="preload" href="/img/card2.png" media="(min-width: 768px)">-->

<style>
#avatar-container {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 8px;
  float: left;
  margin-right: calc(var(--content-padding) * 2);
  shape-outside: circle(75px at 50% 50%);
  /*shape-margin: var(--content-padding);*/
  background-color: #fff;
}
.avatar {
  background: url(https://avatars2.githubusercontent.com/u/238208?v=3&s=460) no-repeat 50% 50%;
  background-size: contain;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
#contact_list {
  padding-left: 0;
}
#contact_list li {
  display: flex;
  align-items: center;
  margin: var(--content-padding) 0;
}
#contact_list .icon {
  height: 30px;
  width: 30px;
  margin-right: calc(var(--content-padding) / 2);
}
</style>
{% endblock %}

{% block content %}

<section>

<div id="avatar-container" class="shadow">
  <div class="avatar" title="me"></div>
</div>

<h1>Hi, I'm Eric.</h1>

<p>I'm a Software Engineer, based in California, with a passion for frontend.

<p>At Yahoo, I am leading investments in design systems, frontend modernization, and infra.</p>

<p>At Lyft, I led teams for Design System, Web platform, and Growth. We pioneered new products such as the Rider App PWA, Rentals, and Call A Lyft and drove other investments across the Business, Identity, and Integrity teams.</p>

<p>At Google, worked in Developer Relations on the Chrome team. I focused heavily in open source and led large developer resources like the
 <a href="https://events.google.com/io2016/" target="_blank" rel="noopener">Google I/O web app</a>, <a href="https://santatracker.google.com/" target="_blank" rel="noopener">Google Santa Tracker</a>,
the <a href="https://www.chromestatus.com/" target="_blank" rel="noopener">Chrome Feature Dashboard</a>, web.dev, and html5rocks.com.</p>

<p>Back in 2011, I authored
"<a href="https://www.amazon.com/Using-HTML5-Filesystem-Eric-Bidelman-ebook/dp/B005KOJ3YA/ref=la_B008RZSFE8_1_1?s=books&ie=UTF8&qid=1483463407&sr=1-1" target="_blank" rel="noopener">Using the HTML5 Filesystem API</a>"
to claim that very important O'Reilly cover--an Australian Greyhound.</p>

<p>I started my career as a software engineer at the University of Michigan
where I designed apps and APIs for the University's 19 libraries.
Go Blue!</p>

<h2>Contact</h2>
<ul id="contact_list">
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
    <a href="https://github.com/ebidel" target="_blank" rel="noopener">ebidel</a></li>
  <li><svg xmlns="http://www.w3.org/2000/svg" aria-label="X" viewBox="0 0 24 24" fill="currentColor" class="icon">
    <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
  </svg>
  <a href="https://twitter.com/ebidel" target="_blank" rel="noopener">@ebidel</a></li>
  <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg><a href="mailto:ebidel@gmail.com" target="_blank" rel="noopener">ebidel@</a></li>
</ul>

</section>

{% endblock %}

{% block scripts %}
<!--<script src="/js/dist/pages/index.min.js" defer></script>-->
{% endblock %}
