{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block head %}
<!--<link rel="preload" href="/img/card2-mobile.png" media="(max-width: 767px)">-->
<!--<link rel="preload" href="/img/card2.png" media="(min-width: 768px)">-->

<style>
#avatar-container {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 8px;
  float: left;
  margin-right: calc(var(--content-padding) * 2);
  shape-outside: circle(75px at 50% 50%)
  /*shape-margin: var(--content-padding);*/
}
.avatar {
  background: url(https://avatars2.githubusercontent.com/u/238208?v=3&s=460) no-repeat 50% 50%;
  background-size: contain;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
#contact_list {
  padding-left: 0;
}
#contact_list li {
  display: flex;
  align-items: center;
  margin: var(--content-padding) 0;
}
#contact_list .icon {
  height: 30px;
  width: 30px;
  margin-right: calc(var(--content-padding) / 2);
}
</style>
{% endblock %}

{% block content %}

<section>

<div id="avatar-container" class="shadow">
  <div class="avatar" title="me"></div>
</div>

<h1>Name's Eric.</h1>

<p>I'm a Software Engineer at Lyft, based in California, working on frontend projects. I was formely at Google doing Developer Relations
since 2008 and working in <a href="https://github.com/ebidel" target="_blank" rel="noopener">open source</a>.</p>

<p>At Google, I've had the privilege to lead and build large sites like the
official <a href="https://events.google.com/io2016/" target="_blank" rel="noopener">Google I/O web app</a>, <a href="https://santatracker.google.com/" target="_blank" rel="noopener">Google's Santa Tracker</a>,
the <a href="https://www.chromestatus.com/" target="_blank" rel="noopener">Chrome Status Feature Dashboard</a>,
and <a href="https://www.html5rocks.com/" target="_blank" rel="noopener">html5rocks.com</a>.</p>

<p>Back in 2011, I authored
"<a href="https://www.amazon.com/Using-HTML5-Filesystem-Eric-Bidelman-ebook/dp/B005KOJ3YA/ref=la_B008RZSFE8_1_1?s=books&ie=UTF8&qid=1483463407&sr=1-1" target="_blank" rel="noopener">Using the HTML5 Filesystem API</a>"
to claim that very important O'Reilly cover--an Australian Greyhound.</p>

<p>I started my career as a software engineer at the University of Michigan
where I designed web applications and APIs for the University's 19 libraries.
Go Blue!</p>

<h2>Contact</h2>
<ul id="contact_list">
  <li><img src="/img/icons/github.svg" class="icon"><a href="https://github.com/ebidel" target="_blank" rel="noopener">/ebidel</a></li>
  <li><img src="/img/icons/twitter.svg" class="icon"><a href="https://twitter.com/ebidel" target="_blank" rel="noopener">@ebidel</a></li>
  <!-- <li><img src="/img/icons/gplus.svg" class="icon"><a href="https://google.com/+EricBidelman" target="_blank" rel="noopener">+EricBidelman</a></li> -->
  <li><img src="/img/icons/email.svg" class="icon"><a href="mailto:ebidel@gmail.com" target="_blank" rel="noopener">ebidel@</a></li>
</ul>

</section>

{% endblock %}

{% block scripts %}
<!--<script src="/js/dist/pages/index.min.js" defer></script>-->
{% endblock %}
