{% extends "base.html" %}

{% block title %}Code & Demos{% endblock %}

{% block head %}
<style>
  .lyftlogo {
    height: 40px;
    vertical-align: middle;
    margin-left: -8px;
    margin-right: -8px;
  }
</style>
{% endblock %}

{% block content %}

<section>

<p>Most of my projects are on <a href="https://github.com/ebidel" target="_blank" rel="noopener">Github</a>,
<a href="https://gist.github.com/ebidel" target="_blank" rel="noopener">gists</a>, or scattered around the web. Here's a list of some of my work:</p>

<h1>Sites</h1>
<p>Things I've built:</p>
<ul>
  <li><img src="/img/lyft_logo.svg" alt="Lyft" class="lyftlogo" />: Rider App PWA, Rentals on web, Accounts frontend</li>
  <!-- <li><a href="https://ride.lyft.com/rentals" target="_blank" rel="noopener">Lyft Rentals</a></li> -->
  <!-- <li><a href="https://account.lyft.com" target="_blank" rel="noopener">Lyft Accounts</a></li> -->
  <li><a href="https://web.dev" target="_blank" rel="noopener">web.dev</a> [ <a href="https://github.com/GoogleChrome/web.dev" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://www.chromestatus.com/features" target="_blank" rel="noopener">Chrome Feature Dashboard</a> [ <a href="https://github.com/GoogleChrome/chromium-dashboard" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://feature-policy-demos.appspot.com/" target="_blank" rel="noopener">Feature Policy Demo Kitchen Sink</a></li>
  <!-- <li><a href="https://devwebfeed.appspot.com/" target="_blank" rel="noopener">DevWeb Content Firehose</a></li> -->
  <!-- <li><a href="https://pptraas.com/" target="_blank" rel="noopener">pptraas.com</a></li> -->
  <li><a href="https://github.com/ebidel/try-puppeteer" target="_blank" rel="noopener">Try Puppeteer</a></li>
  <li><a href="https://santatracker.google.com/" target="_blank" rel="noopener">Google Santa Tracker</a> [ <a href="https://github.com/google/santa-tracker-web" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://developers.chrome.com/" target="_blank" rel="noopener">developers.chrome.com</a></li>
  <li><a href="https://www.html5rocks.com/" target="_blank" rel="noopener">html5rocks.com</a> [ <a href="https://github.com/html5rocks" target="_blank" rel="noopener">source</a> ]</li>
  <li><a href="https://googleblog.blogspot.com/2009/11/finding-flu-vaccine-information-in-one.html" target="_blank" rel="noopener">Google Flushot Finder</a></li>
  <li>Google I/O PWA [ <a href="https://github.com/GoogleChrome/ioweb2016" target="_blank" rel="noopener">2016</a>, <a href="https://github.com/GoogleChrome/ioweb2015" target="_blank" rel="noopener">2015</a> ]</li>
  <li><a href="https://codelabs.developers.google.com/" target="_blank" rel="noopener">Google Developer Codelabs</a></li>
</ul>

<h1>Tools</h1>
<p>Tool sites I've built:</p>
<ul>
  <li><a href="https://perf-sandbox.appspot.com/" target="_blank" rel="noopener">Google Perf Tools Runner</a></li>
  <li><a href="https://github.com/GoogleChromeLabs/puppeteer-examples" target="_blank" rel="noopener">Puppeteer examples</a></li>
  <li><a href="https://try-puppeteer.appspot.com/" target="_blank" rel="noopener">Try Puppeteer</a> [ <a href="https://github.com/ebidel/try-puppeteer" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://lighthouse-ci.appspot.com/try" target="_blank" rel="noopener">Run Lighthouse Online</a></li>
  <li><a href="https://developers.google.com/web/feedback/browser-bug-searcher?q=css" target="_blank" rel="noopener">Browser Bug Searcher</a> [ <a href="https://github.com/GoogleChrome/browser-bug-search" target="_blank" rel="noopener">github</a> ]</li>
</ul>

<h1>Demos</h1>
<ul>
  <li><a href="https://ebidel.github.io/demos/" target="_blank" rel="noopener">ebidel.github.io/demos/</a></li>
  <!-- <li><a href="https://html5-demos.appspot.com/" target="_blank" rel="noopener">html5-demos.appspot.com</a></li> -->
  <li><a href="https://poly-mail.appspot.com/" target="_blank" rel="noopener">Polymer GMail</a> [ <a href="https://github.com/ebidel/polymer-gmail" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://icanbeyourlighthouse.firebaseapp.com/" target="_blank" rel="noopener">I can be your Lighthouse!</a></li>
</ul>

<h1>Libraries</h1>
<ul>
  <li><a href="https://github.com/ebidel/appmetrics.js" target="_blank" rel="noopener">appmetrics.js</a> - a small library for measuring things in your web app and reporting the results to Google Analytics.</li>
  <li><a href="https://github.com/ebidel/idb.filesystem.js" target="_blank" rel="noopener">idb.filesystem.js</a> - HTML5 Filesystem API polyfill using IndexedDB</li>
  <li><a href="https://github.com/ebidel/filer.js" target="_blank" rel="noopener">filer.js</a> - a wrapper library for the HTML5 Filesystem API which uses UNIX commands (cp, mv, ls) for its API.</li>
</ul>

<h1>Projects</h1>
<p>Things I've contributed to:</p>
<ul>
  <li><a href="https://developers.google.com/web/tools/lighthouse/" target="_blank" rel="noopener">Lighthouse</a> [ <a href="https://github.com/GoogleChrome/lighthouse" target="_blank" rel="noopener">github</a> ]</li>
  <li><a href="https://developers.google.com/web" target="_blank" rel="noopener">Google Web Fundamentals</a></li>
  <li><a href="https://www.polymer-project.org/" target="_blank" rel="noopener">Polymer</a></li>
  <li><a href="http://webcomponents.org/" target="_blank" rel="noopener">webcomponents.org</a></li>
  <li><a href="https://github.com/GoogleWebComponents/" target="_blank" rel="noopener">Google Web Components</a></li>
  <li><a href="http://yeoman.io" target="_blank" rel="noopener">Yeoman</a></li>
</ul>

</section>

{% endblock %}

{% block scripts %}
<!--<script src="/js/dist/pages/index.min.js" defer></script>-->
{% endblock %}
