{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block head %}
<style>
.posts-list, .posts-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.posts-list > li {
  margin-bottom: calc(var(--content-padding) * 2);
}
.posts-list a {
  text-decoration: none;
}
.posts-list .post {
  margin: var(--content-padding) 0;
}
.posts-list .post-title {
  margin: 0;
}
.posts-list .post-date {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: var(--content-padding);
}
</style>
{% endblock %}

{% block content %}
<section>
<ul class="posts-list">

{%- for year, posts in years %}
  <li>
    <h1 class="post-year">{{year}}</h1>
    <ul>
      {% for post in posts %}
        <li class="post layout horizontal vcenter">
          {%- if 'medium.com' in post.href %}
           <img src="/img/icons/medium.svg" class="icon medium-icon" title="Posted on Medium" alt="Medium post">
          {%- endif %}
          <h3 class="post-title">
            <a href="{{post.href}}">{{post.data.title}}</a>
            <span class="post-date secondary-text">{{post.data.publishedStr}}</span>
          </h3>
        </li>
      {%- endfor %}
    </ul>
  </li>
{%- endfor %}
</ul>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}
