:root {
  --site-width: 900px;

  --content-padding: 16px;
  --section-padding: 72px;

  --navbar-height: 128px;

  --phone-breakpoint-max: 425px;
  --tablet-breakpoint-min: 768px;
  --desktop-breakpoint-min: 945px;

  --md-blue-grey-50: #ECEFF1;
  --md-blue-grey-100: #CFD8DC;
  --md-blue-grey-300: #90A4AE;
  --md-blue-grey-400: #78909C;
  --md-blue-grey-500: #607D8B;
  --md-blue-grey-600: #546E7A;
  --md-blue-grey-700: #455A64;
  --md-blue-grey-800: #37474F;
  --md-blue-grey-900: #263238;

  --md-blue-primary: #2196f3;
  --md-blue-light: #6ec6ff;
  --md-blue-dark: #0069c0;
}

* {
  box-sizing: border-box;
}

html, body {
  /* height: 100%; */
  margin: 0;
  color: var(--md-blue-grey-900);
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  /* Note: Google Fonts API doesn't support this yet so we're using the async JS loader API. */
  /* font-display: swap; */
}

h1, h2, h3, h4 {
  margin: 0 0 var(--content-padding) 0;
  font-weight: 300;
  color: rgba(0,0,0,0.54);
}

h1 {
  font-size: 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
}

p, li {
  line-height: 1.6;
}

figcaption {
  text-align: center;
  font-weight: 600;
}

section {
  padding: var(--section-padding) 0;
}

.hidden, [hidden] {
  display: none !important;
}

.main-content a {
  color: var(--md-blue-grey-500);
}

.main-content a:hover {
  text-decoration: underline;
}

.content-width {
  max-width: var(--site-width);
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* layout classes */
.layout {
  display: flex;
}
.layout.horizontal.center {
  justify-content: center;
}
.layout.horizontal.center-center {
  align-items: center;
  justify-content: center;
}
.layout.horizontal.justified {
  justify-content: space-between;
}
.layout.vertical {
  flex-direction: column;
}
.flex {
  flex: 1;
}
.layout.horizontal.end {
  justify-content: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.side-by-side {
  justify-content: space-between;
}
.side-by-side > * {
  width: calc(50% - 32px);
}
.center {
  text-align: center;
}
/* ============================== */

.navbar, footer {
  background: var(--md-blue-grey-50);
  color: var(--md-blue-grey-600);
  /* background: var(--md-blue-primary);
  color: #fff; */
}

.navbar {
  /* height: var(--navbar-height); */
}

.navbar .navbar-title {
  margin: 0 var(--content-padding) 0 0;
  color: inherit;
}

.navbar .navbar-title a {
  padding: 0;
}

.navbar nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.navbar a {
  position: relative;
  align-items: center;
  display: flex;
  padding: var(--content-padding);
}

.navbar a:hover {
  color: var(--md-blue-grey-800);
}

.navbar a.active::after  {
  content: '';
  background: currentColor;
  left: 0;
  right: 0;
  position: absolute;
  height: 2px;
  display: block;
  bottom: 0;
  color: inherit;
}

.icon {
  height: 20px;
  width: 20px;
}

.navbar .social-icon {
  padding: 0;
  margin-left: calc(var(--content-padding) / 2);
}

.menu-icon {
  margin-right: var(--content-padding);
  fill: currentColor;
  cursor: pointer;
  display: inline-block;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-wrapper {
  position: absolute;
  top: 0;
}

.fab {
  --fab-size: 56px;
  height: var(--fab-size);
  width: var(--fab-size);
  position: absolute;
  top: calc(var(--fab-size) / 2 * -1);
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/icons/chevron-dark.svg") no-repeat 50% 50%;
  background-size: 32px;
  background-color: #fff;
  transition: box-shadow 200ms ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

footer {
  min-height: var(--navbar-height);
  position: relative;
}

@media (max-width: 767px) {
  :root {
    --section-padding: 40px;
  }

  /*.menu-icon {
    top: var(--content-padding);
    position: absolute;
  }*/
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

