:root {
  --site-width: 740px;

  --content-padding: 16px;
  --section-padding: 72px;

  --border-radius: 3px;

  --phone-breakpoint-max: 425px;
  --tablet-breakpoint-min: 768px;
  --desktop-breakpoint-min: 945px;

  --md-blue-grey-50: #ECEFF1;
  --md-blue-grey-100: #CFD8DC;
  /*--md-blue-grey-300: #90A4AE;
  --md-blue-grey-400: #78909C;
  --md-blue-grey-500: #607D8B;
  --md-blue-grey-600: #546E7A;
  --md-blue-grey-700: #455A64;
  --md-blue-grey-800: #37474F;
  --md-blue-grey-900: #263238; */

  --md-blue-primary: #2196f3;
  --md-blue-light: #6ec6ff;
  --md-blue-dark: #0069c0;

  --md-grey-primary: #757575;
  --md-grey-light: #6d6d6d;
  --md-grey-dark: #494949;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  color: var(--md-grey-dark);
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  /* Note: Google Fonts API doesn't support this yet so we're using the async JS loader API. */
  /* font-display: swap; */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  margin: 0 0 var(--content-padding) 0;
  font-weight: 300;
}

h1 {
  font-size: 32px;
}

h2 {
  margin: calc(var(--content-padding) * 2) 0 var(--content-padding) 0;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

figure {
  text-align: center;
  margin: var(--content-padding) 0;
}

figcaption {
  font-style: italic;
}

blockquote {
  padding: var(--content-padding);
  font-size: 150%;
  color: var(--md-blue-dark);
  border-left: 5px solid var(--md-blue-dark);
}
blockquote p {
  margin: 0;
}

section {
  padding: var(--section-padding) 0;
}

hr {
  height: 0;
  overflow: visible;
  border: 0;
  margin: calc(var(--content-padding) * 2) 0;
}

hr:before {
  content: '...';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: .6em;
  text-align: center;
  position: relative;
  top: -34px;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: var(--md-blue-grey-50);
}

th, td {
  padding: var(--content-padding);
  border: 1px solid var(--md-blue-grey-50);
}

pre {
  font-size: 14px;
  overflow-x: auto;
  padding: var(--content-padding);
  background-color: #f6f8fa;
  border-radius: var(--border-radius);
  -webkit-font-smoothing: initial;
}

.hidden, [hidden] {
  display: none !important;
}

.pull-left {
  float: left;
  margin-right: calc(var(--content-padding) * 2);
}

.pull-right {
  float: right;
  margin: var(--content-padding) 0 var(--content-padding) calc(var(--content-padding) * 2);
}

.main-content a {
  color: var(--md-blue-primary);
}

.main-content a:hover {
  text-decoration: underline;
}

.main-content img {
  max-width: 100%;
}

.content-width {
  max-width: var(--site-width);
  width: calc(100% - 32px);
  margin: 0 auto;
}

/* .navbar {
  position: sticky;
  top: 0;
} */

.navbar, footer {
  background-color: var(--md-blue-dark);
  color: #fff;
  padding: var(--content-padding);
}

.navbar .navbar-title {
  margin: 0;
}

.navbar nav {
  text-transform: uppercase;
}

.navbar nav a {
  display: inline-flex;
  padding: var(--content-padding);
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: #bbdefb;
}

.icon {
  height: 20px;
  width: 20px;
}

.medium-icon {
  margin-right: calc(var(--content-padding) / 2);
}

.navbar .social-icon {
  margin-left: var(--content-padding);
  height: 20px;
  width: 20px;
}

.menu-icon {
  margin-right: var(--content-padding);
  fill: currentColor;
  cursor: pointer;
  display: inline-block;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 -1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-wrapper {
  position: absolute;
  top: 0;
}

.fab {
  --fab-size: 56px;
  height: var(--fab-size);
  width: var(--fab-size);
  position: absolute;
  top: calc(var(--fab-size) / 2 * -1);
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: url("/img/icons/chevron-dark.svg") no-repeat 50% 50%;
  background-size: 32px;
  background-color: #fff;
  transition: box-shadow 200ms ease-in-out;
}

#toc {
  --circle-size: 40px;
  display: none;
  font-size: 14px;
  padding: var(--content-padding);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),
              0 1px 3px 1px rgba(60,64,67,0.15);
  position: fixed;
  left: calc(50% - calc(var(--site-width) / 2) - 80px);
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 50%;
  transition: clip-path 300ms ease-in-out;
  z-index: 1;
  background: #fff;
  clip-path: circle(calc(var(--circle-size) * 2) at 0 0);
  will-change: clip-path, height, width;
}

#toc::before {
  content: '';
  background: url(/img/icons/list_bulleted-24px.svg) no-repeat 50% 50%;
  background-size: calc(var(--circle-size) - 15px);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

#toc:hover {
  width: 300px;
  height: auto;
  border-radius: var(--border-radius);
  clip-path: circle(1000px at 0 0);
}

#toc:hover::before {
  visibility: hidden;
  /* background: none; */
}

#toc:hover > ul {
  visibility: visible;
}

#toc > ul {
  visibility: hidden;
  padding: 0;
  margin: 0;
}

#toc li {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

#toc > ul ul {
  padding-left: var(--content-padding);
}

#toc ul {
  list-style: none;
}

.fab:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

footer {
  position: relative;
}

.secondary-text {
  color: var(--md-grey-light);
}

.screenshot {
  border: 1px solid var(--md-blue-dark);
}

@media (max-width: 767px) {
  :root {
    --section-padding: 40px;
  }

  /*.menu-icon {
    top: var(--content-padding);
    position: absolute;
  }*/
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

@media (min-width: 920px) {
  #toc {
    display: block;
  }
}
