<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width, Downlink, Save-Data, Content-DPR">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0069c0">

  <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <title>{% block title %}{% endblock %} - Eric Bidelman</title>
  <meta name="author" content="Eric Bidelman">
  <link rel="home" href="https://ericbidelman.com/">

  <link rel="icon" sizes="192x192" href="/img/icon_400x400.png">
  {#
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"> -->
    <!-- <link rel="manifest" href="/manifest.json"> -->
  #}
  <link rel="stylesheet" href="/css/combined{% if not DEV %}.min{% endif %}.css">
  <script>
    window.WebFontConfig = {
      google: {families: ['Google+Sans:300,400,600']},
      classes: false,
      events: false,
      // active: function() { }
    };
  </script>
  <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ebidel">
  <meta name="twitter:creator" content="@ebidel">
  <meta name="twitter:title" content="Eric Bidelman's Blog">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Eric Bidelman",
      "url": "https://ericbidelman.com/",
      "sameAs": [
        "https://twitter.com/ebidel",
        "https://www.linkedin.com/in/ericbidelman",
        "https://plus.google.com/+EricBidelman",
        "https://github.com/ebidel",
        "https://medium.com/@ebidel"
      ]
    }
  </script>
  {% block head %}{% endblock %}
</head>
<body>

{% include "header.html" %}

<main class="main-content">
  <div class="content-width">
    {% block content %}{% endblock %}
  </div>
</main>

{% include "footer.html" %}

{#
<!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script> -->
#}
<script type="module" src="/js/app{% if not DEV %}.bundle{% endif %}.js"></script>
<script nomodule src="/js/app.min.js"></script>

{% block scripts %}{% endblock %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24818445-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-24818445-1');

  // if ('serviceWorker' in navigator) {
  //   navigator.serviceWorker.register('/sw.js').then(reg => {
  //     console.log('SW registered!');
  //     // reg.onupdatefound = function() {
  //     //   reg.installing.onstatechange = function(e) {
  //     //     if (e.target.state === 'installed') {
  //     //       // If page isn't controlled by sw, force refresh so it can control
  //     //       // the page and server smaller images are downloaded.
  //     //       if (!navigator.serviceWorker.controller) {
  //     //         location.reload();
  //     //       }
  //     //     }
  //     //   };
  //     // };
  //   }).catch(err => console.error('Boo!', err));
  // }
</script>
</body>
</html>
