<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#dadada">
  <meta name="description" content="Eric Bidelman's Blog">
  <meta name="author" content="Eric Bidelman">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ebidel">
  <meta name="twitter:creator" content="@ebidel">
  <meta name="twitter:title" content="Eric Bidelman's Blog">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Eric Bidelman",
      "url": "https://ericbidelman.com/",
      "sameAs": [
        "https://twitter.com/ebidel",
        "https://www.linkedin.com/in/ericbidelman",
        "https://plus.google.com/+EricBidelman",
        "https://github.com/ebidel",
        "https://medium.com/@ebidel"
      ]
    }
  </script>
  <title>{% block title %}{% endblock %} - Eric Bidelman</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="/img/icon_400x400.png">
  <link rel="icon" sizes="142x192" href="/img/icon_400x400.png">
  <link rel="shortcut icon" href="/img/icon_400x400.png">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans"> -->
  <script>
    window.WebFontConfig = {
      google: {families: ['Google+Sans:300,400,600']},
      classes: false,
      events: false,
      // active: function() { }
    };
  </script>
  <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
  <link rel="stylesheet" href="/css/app.css">
  {% block head %}{% endblock %}
</head>
<body>

<!-- {% block header %}{% endblock %} -->
{% include "header.html" %}

<main class="main-content">
  <div class="content-width">
    {% block content %}{% endblock %}
  </div>
</main>

{% include "footer.html" %}

<!-- <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script> -->

<script src="/js/app.js" async></script>

{% block scripts %}{% endblock %}

<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114661299-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-114661299-1');
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/js/sw.js')
      .then(reg => console.log('SW registered!'))
      .catch(err => console.error('Boo!', err));
  }
</script> -->
</body>
</html>
