<div class="navbar">
  <div class="content-width layout horizontal center-center">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         version="1.1" x="0px" y="0px" viewBox="0 0 24 24" class="menu-icon icon">
      <g id="menu"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></g>
    </svg> -->
    <div class="layout horizontal center-center">
      <h2 class="navbar-title"><a href="/" title="me">ebidel</a></h2>
      <a
        href="https://github.com/ebidel"
        target="_blank"
        rel="noopener"
        class="social-icon"
        title="Github"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/><path d="M9 18c-4.51 2-5-2-7-2"/></svg>
      </a>
      <a
        href="https://twitter.com/ebidel"
        target="_blank"
        rel="noopener"
        class="social-icon"
        title="Twitter"
      >
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="X" viewBox="0 0 24 24" fill="currentColor">
          <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
        </svg>
      </a>
      <a
        href="/rss.xml"
        target="_blank"
        rel="noopener"
        class="social-icon rss-icon"
        title="RSS feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
      </a>
    </div>
    <nav class="flex layout horizontal end">
      <a href="/posts" title="Posts">Posts</a>
      <a href="/code" title="Code">Code</a>
      <!-- <a href="/talks" title="Talks">Talks</a> -->
      <a href="/about" title="About me">About</a>
    </nav>
  </div>
</div>
